html {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
#header {
  height: 90vh;
  background: #ffffff url(/coffee/images/mainbg.jpg) no-repeat;
  background-size: cover;
  background-position: 30%;
}
.navbar {
  height: 7vh;
}

/* -------------Section------------- */
section {
  margin: 10em 0;
}

/* ------------- section - mission-------------  */
.signature {
  width: 300px;
}
#headingGroup p {
  font-size: 1.3em;
}

/* ------------- section - aboout-------------  */
#about {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/coffee/images/bread-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
}
#about h2 {
  color: rgb(255, 255, 255);
  padding-top: 15%;
  font-size: 2.3em;
  margin-right: 20%;
}
#about button {
  font-size: 1.2em;
}
/*-------------------------- Menu --------------------------*/
/* ------------- Menu-section ------------- */
.menu-section {
  padding: 1.5em 2em;
}
.menu-btn {
  display: block;
  background-color: white;
  border: none;
  outline: none;
  font-size: 1.25rem;
}
.btn-color {
  color: #da8c26;
}
.menu-first-btn-color {
  color: #da8c26;
  font-weight: bold;
}
.menu-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dabc95;
  margin: 0 auto;
}
.dot {
  display: none;
}
.menu-icon {
  width: 50px;
  height: 50px;
  padding-bottom: 0.5em;
}
.menu-item {
  padding: 1.5em 2em;
}
/* .menu-items {
  column-width: 18em;
  column-gap: 3em;
} */
.menu-item-title {
  font-weight: bold;
}

/* ------------- Menu-list ------------- */
.menu-list {
  display: none;
}
.menu-img {
  width: 130px;
  height: 130px;
}
/* ------------- section - blockquote-------------  */
blockquote {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  position: relative;
  padding-top: 7%;
}
#quote {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(/coffee/images/evan-wise-mEcUWPO-AaY-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
}
#quote h2 {
  color: rgb(255, 255, 255);
  padding-top: 15%;
  font-size: 2.3em;
  margin-right: 20%;
}
#quote p {
  font-family: Georgia;
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 300;
}
#quote hr {
  width: 30%;
  border: 1px solid #aaa8a7;
}
.highlightQuote {
  color: #ffa357;
  font-size: 2.9rem;
}
#quote .cite {
  font-family: verdana;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* first image - handfull coffee */
.fist-img {
  width: 350px;
  height: 500px;
}
