html {
  font-family: "Open Sans", sans-serif;
}
#header {
  height: 90vh;
  background: #ffffff url(/coffee/images/mainbg.jpg) no-repeat;
  background-size: cover;
  background-position: 30%;
}
.navbar {
  height: 7vh;
}

/* Section */
section {
  margin: 10em 0;
}

/* section - mission */
.signature {
  width: 300px;
}
#headingGroup p {
  font-size: 1.3em;
}

/* section - aboout */
#about {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/coffee/images/bread-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
}
#about h2 {
  color: rgb(255, 255, 255);
  padding-top: 15%;
  font-size: 2.3em;
  margin-right: 20%;
}
#about button {
  font-size: 1.2em;
}
/* blockquote */

blockquote {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  position: relative;
}
.small-box {
  background-color: #ffe5bd;
  width: 70%;
  height: 130%;
  position: absolute;
  top: -20%;
  left: 15%;
  z-index: -1;
}

blockquote p {
  font-family: Georgia;
  color: #000;
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 300;
}
blockquote hr {
  width: 30%;
  border: 1px solid #552e17;
}
.highlightQuote {
  color: #552e17;
  font-size: 2.9rem;
}
blockquote .cite {
  font-family: verdana;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  color: rgb(99, 99, 99);
}

/* first image - handfull coffee */
.fist-img {
  width: 350px;
  height: 500px;
}
